a.emaillogin, 
a.emaillogin-head,
a.emaillogin-option,
a.emaillogin-hide, 
a.emaillogin-show
{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    font-size: 12px;
    line-height: 14px;
}

a.emaillogin
{
    background-color: black;
}

a.emaillogin-head, a.emaillogin-option
{
	background-color: darkgrey;
}

a.emaillogin-hide
{
	background-color: red;
}

a.emaillogin-show
{
	background-color: green;
}

table.marttiphpbb-emaillogin-php
{
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px;
    font-size: 15px;
    color: black;
    background: white;
}

table.marttiphpbb-emaillogin-php tbody tr:nth-child(odd)
{
    background: lightgrey;
}

table.marttiphpbb-emaillogin-php th, table.marttiphpbb-emaillogin-php td
{
    padding: 5px;
}
