{%- if marttiphpbb_templateevents.enable -%}
<a class="templateevents" title="3.1.3-RC1&#10;overall_footer.html" href="https://github.com/phpbb/phpbb/tree/prep-release-3.2.2/phpBB/styles/prosilver/template/overall_footer.html#L91">overall_footer_body_after</a>
<br>
<table class="marttiphpbb-templateevents-php">
	<thead>
		<tr>
			<th>{{- lang('MARTTIPHPBB_TEMPLATEEVENTS_PHP_EVENT_NAME') -}}</th>
			<th>{{- lang('MARTTIPHPBB_TEMPLATEEVENTS_PHP_EVENT_COUNT') -}}</th>
			<th>{{- lang('MARTTIPHPBB_TEMPLATEEVENTS_SINCE') -}}</th>
			<th>{{- lang('MARTTIPHPBB_TEMPLATEEVENTS_FILENAME') -}}</th>	
		</tr>
	</thead>
	<tbody>
	{%- for name, e in marttiphpbb_templateevents.php -%}
		<tr>
			<td>{{- name -}}</td>
			<td>{{- e.count -}}</td>
			<td>{{- e.since -}}</td>
			<td>
			{%- for file, line in e.loc -%}
				{%- if line -%}
					<a href="https://github.com/phpbb/phpbb/tree/prep-release-3.2.2/phpBB/{{- file -}}#L{{- line -}}">
						{{- file -}}
					</a>
				{%- else -%}
					{{- file -}}
				{%- endif -%}
				{%- if not loop.last -%}<br>{%- endif -%}
			{%- endfor -%}
			</td>
		</tr>
	{%- endfor -%}
	</tbody>
</table>
{%- INCLUDEJS '@marttiphpbb_templateevents/js/templateevents.js' -%}
{%- endif -%}
