{%- if marttiphpbb_templateevents.enable -%}
<a class="templateevents-hide" href="{{- marttiphpbb_templateevents.u_hide -}}">{{- lang('MARTTIPHPBB_TEMPLATEEVENTS_HIDE') -}}</a>
{%- endif -%}
{%- if not marttiphpbb_templateevents.enable -%}
<a class="templateevents-show" href="{{- marttiphpbb_templateevents.u_show -}}">{{- lang('MARTTIPHPBB_TEMPLATEEVENTS_SHOW') -}}</a>
{%- endif -%}
{%- if marttiphpbb_templateevents.enable -%}
<span class="templateevents-head" title="3.1.6-RC1&#10;overall_header.html">
<a href="https://github.com/phpbb/phpbb/tree/prep-release-3.2.2/phpBB/styles/prosilver/template/overall_header.html#L18">overall_header_feeds</a>
</span>
<span class="templateevents-head" title="3.1.0-a1&#10;overall_header.html">
<a href="https://github.com/phpbb/phpbb/tree/prep-release-3.2.2/phpBB/styles/prosilver/template/overall_header.html#L68">overall_header_head_append</a>
</span>
<span class="templateevents-head" title="3.1.0-RC3&#10;overall_header.html">
<a href="https://github.com/phpbb/phpbb/tree/prep-release-3.2.2/phpBB/styles/prosilver/template/overall_header.html#L72">overall_header_stylesheets_after</a>
</span>
<span class="templateevents" title="3.1.0-b2&#10;overall_header.html">
<a href="https://github.com/phpbb/phpbb/tree/prep-release-3.2.2/phpBB/styles/prosilver/template/overall_header.html#L77">overall_header_body_before</a>
</span>
{%- endif -%}
